In [20]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd
import datetime as dt

engine = create_engine("mysql+pymysql://myuser:yourpassword@localhost/F&V company")

past_df = pd.read_sql("SELECT * FROM SalesOrders", engine)
forecast_df = pd.read_sql("SELECT * FROM Forecast", engine)


# Ensure datetime format
past_df['DeliveryDate'] = pd.to_datetime(past_df['DeliveryDate'])
past_df['Month'] = past_df['DeliveryDate'].dt.to_period('Q').dt.to_timestamp()
past_df = past_df.rename(columns={'OrderVolume': 'Volume'})

forecast_df['Month'] = pd.to_datetime(forecast_df['Month'])
forecast_df['Month'] = forecast_df['Month'].dt.to_period('Q').dt.to_timestamp()

#Setting indexes
past_df = past_df.set_index(['Month', 'PlantID', 'ProductID'])
forecast_df = forecast_df.set_index(['Month', 'PlantID', 'ProductID'])

df = pd.concat([past_df, forecast_df], ignore_index= False)

# Group by DeliveryDate (assuming you want to group by entire date)
grouped_df = df.drop(columns=['OrderID', 'CustomerID', 'DeliveryDate'])
grouped_df = grouped_df.groupby(['Month', 'PlantID', 'ProductID' ]).sum()  # or you can use .mean(), .count(), etc.


# Keep the multi-index
grouped_df['Startvalidity'] = grouped_df.index.get_level_values('Month')

# Calculate the end of the quarter directly using the .dt accessor
grouped_df['EndValidity'] = grouped_df['Startvalidity'].dt.to_period('Q').dt.end_time.dt.normalize()

grouped_df

                               Volume Startvalidity EndValidity
Month      PlantID ProductID
2020-04-01 1       1          9264.73    2020-04-01  2020-06-30
                   2          3829.12    2020-04-01  2020-06-30
                   4          7042.12    2020-04-01  2020-06-30
                   5          4971.88    2020-04-01  2020-06-30
                   7          2429.66    2020-04-01  2020-06-30
...                               ...           ...         ...
2026-04-01 5       146         186.89    2026-04-01  2026-06-30
                   147        1436.00    2026-04-01  2026-06-30
                   148        1508.32    2026-04-01  2026-06-30
                   149           0.00    2026-04-01  2026-06-30
                   150           0.00    2026-04-01  2026-06-30

[18029 rows x 3 columns]

In [21]:
cutoff_date = pd.to_datetime("2025-10-01")

# Filter rows where Startvalidity is before the cutoff date
filtered_df = grouped_df[grouped_df['Startvalidity'] < cutoff_date]

# Show the filtered dataframe
filtered_df

                                Volume Startvalidity EndValidity
Month      PlantID ProductID
2020-04-01 1       1           9264.73    2020-04-01  2020-06-30
                   2           3829.12    2020-04-01  2020-06-30
                   4           7042.12    2020-04-01  2020-06-30
                   5           4971.88    2020-04-01  2020-06-30
                   7           2429.66    2020-04-01  2020-06-30
...                                ...           ...         ...
2025-07-01 5       146         5778.68    2025-07-01  2025-09-30
                   147         2266.63    2025-07-01  2025-09-30
                   148         2244.25    2025-07-01  2025-09-30
                   149          557.39    2025-07-01  2025-09-30
                   150        13970.64    2025-07-01  2025-09-30

[15779 rows x 3 columns]

In [30]:
#Adding price
import numpy as np
filtered_df['Price'] = 1 + (2 - 1) * np.random.rand(len(filtered_df))
filtered_df

/var/folders/n6/0ygvb6w15r9c3dmhd85blg5c0000gn/T/ipykernel_49049/908158648.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['Price'] = 1 + (2 - 1) * np.random.rand(len(filtered_df))

                                Volume Startvalidity EndValidity     Price
Month      PlantID ProductID
2020-04-01 1       1           9264.73    2020-04-01  2020-06-30  1.433792
                   2           3829.12    2020-04-01  2020-06-30  1.541757
                   4           7042.12    2020-04-01  2020-06-30  1.605601
                   5           4971.88    2020-04-01  2020-06-30  1.834699
                   7           2429.66    2020-04-01  2020-06-30  1.328248
...                                ...           ...         ...       ...
2025-07-01 5       146         5778.68    2025-07-01  2025-09-30  1.169787
                   147         2266.63    2025-07-01  2025-09-30  1.993876
                   148         2244.25    2025-07-01  2025-09-30  1.522262
                   149          557.39    2025-07-01  2025-09-30  1.342575
                   150        13970.64    2025-07-01  2025-09-30  1.582048

[15779 rows x 4 columns]

In [31]:
# Convert DataFrame rows to SQL VALUES format
values = [
    f"('{row.Startvalidity.date()}', '{row.EndValidity.date()}', {row.PlantID}, {row.ProductID}, {row.Volume:.2f}, {row.Price:.2f})"
    for _, row in filtered_df.reset_index().iterrows()
]

# Write to SQL file
with open("Create purchase contracts and purchase orders first round.sql", "w") as f:
    f.write("INSERT INTO Forecast (Startvalidity, Endvalidity, PlantID, ProductID, Volume, Price)\nVALUES\n")
    f.write(",\n".join(values))
    f.write(";\n")